<%- contentFor('title') %>Liste des voyages <%- contentFor('main') %>
<h1>Mon index</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Start</th>
      <th>End</th>
      <th>Done</th>
      <th href="/tasks/create">Create</th>
    </tr>
  </thead>

  <tbody>
    <% for( let trip in trips ) { %>
    <tr>
      <td><%= trip.id %></td>
      <td><%= trip.title %></td>
      <td><%= trip.description %></td>
      <td><%= trip.date_debut %></td>
      <td><%= trip.date_fin %></td>
      <td>
        <a href="/trips/toggle-done/<%= trip.id %>"><%=trip.done%></a>
      </td>
      <td>
        <a href="/trips/edit/<%= task.id%>">Edit</a>
        <form action="/trips/delete/<%= task.id%>" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <input
            type="submit"
            value="Delete"
            onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')"
          />
        </form>
      </td>
    </tr>
    <% }; %>
  </tbody>
</table>
