<%- contentFor('title') %>Liste des voyages <%- contentFor('main') %>
<h1>Mon index</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Départ</th>
      <th>Destination</th>
      <th>Date de départ</th>
      <th>Date d'arrivée</th>
      <th>Prix</th>
      <th>Statut</th>
      <th>Nbr de places</th>
      <th href="/trips/create">Create</th>
    </tr>
  </thead>

  <tbody>
    <% trips.forEach(trip => { %>
    <tr>
      <td><%= trip._id %></td>
      <td><%= trip.departure %></td>
      <td><%= trip.destination %></td>
      <td><%= trip.departureDateTime %></td>
      <td><%= trip.arrivalDateTime %></td>
      <td><%= trip.price %></td>
      <td><%= trip.status %></td>
      <td><%= trip.places %></td>
      <!-- <td>
        <a href="/api/trips/toggle-done/< trip.id %>">< trip.done%></a>
      </td> -->
      <td>
        <a href="/api/trips/edit/<%= trip.id%>">Edit</a>
        <form action="/api/trips/<%= trip.id%>" method="POST">
          <input type="hidden" name="_method" value="DELETE" />
          <input
            type="submit"
            value="Delete"
            onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')"
          />
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
